<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
    <header>
        <div class="header-content">
            <h1>Todo <span>List</span></h1>
            <h2>A simple todo list build with node</h2>
        </div>
    </header>
<!-- <hr> -->
    <section class="form">
        <input type="text" placeholder="Insert your task here" id="todoInput">
    </section>
    <ul class="list" >
       
        
    </ul>
</div>
    <script src="index.js"></script>
</body>
</html>